*.js
!jest.config.js
*.d.ts
node_modules
!lib/*.handler.js

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

.jsii

.idea/

cdk.context.json
dist/

tsconfig.json
